<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Nicolas De~Angelis</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:nicolas.deangelis@unige.ch"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/nicolas-de-angelis/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Arxiv" target="_blank" href="https://arxiv.org/search/?searchtype=author&query=De+Angelis%2C+N"><i class="icon ai ai-arxiv" aria-hidden="true"></i></a>
	<a aria-label="My Google Scholar" target="_blank" href="https://scholar.google.com/citations?user=EG3yENsAAAAJ"><i class="icon ai ai-google-scholar" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/ndeangel"><i class="icon fa fa-github" aria-hidden="true"></i></a>
      </div><div class="header-icons">
        <a aria-label="My ResearchGate" target="_blank" href="https://www.researchgate.net/profile/Nicolas-De-Angelis"><i class="icon ai ai-researchgate" aira-hidden="true"></i></a>
	<a aria-label="My ADS" target="_blank" href="https://ui.adsabs.harvard.edu/search/q=author%3A%22De%20Angelis%2C%20Nicolas%22%20year%3A2018-&sort=date%20desc%2C%20bibcode%20desc&p_=0"><i class="icon ai ai-ads" aira-hidden="true"></i></a>
        <a aria-label="My InspireHEP" target="_blank" href="https://inspirehep.net/authors/2069221"><i class="icon ai ai-inspire" aira-hidden="true"></i></a>
        <a aria-label="My OrcID" target="_blank" href="https://orcid.org/0000-0002-2498-0213"><i class="icon ai ai-orcid" aira-hidden="true"></i></a>
        <a aria-label="Call" target="_blank" href="tel:+41223796150"><i class="icon fa fa-phone" aira-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#timeline" data-scroll>Experience</a>
        <br class="br-on-mobile">
        <a class="link" href="#software" data-scroll>Software</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
