<div class="user-details">
  <h1> Research Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="polar" src="{{ "/assets/img/POLAR.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> POLAR </h3>
    <p style="text-align:justify">POLAR was a compact Compton polarimeter located on the Tiangong-2 Chinese space lab. It took scientific data for about 6 months starting September 2016... </p>
    <a class="project-link" href="https://www.astro.unige.ch/polar/">Webpage</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="polar-2" src="{{ "/assets/img/POLAR-2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> POLAR-2 </h3>
    <p style="text-align:justify">POLAR-2 is..</p>
    <a class="project-link" href="https://www.unige.ch/dpnc/polar-2">Webpage</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="extp" src="{{ "/assets/img/eXTP.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> eXTP </h3>
    <p style="text-align:justify">The enhanced X-ray Timing and Polarimetry mission (eXTP) is a science mission designed to study the state of matter under extreme conditions of density, gravity and magnetism. Primary goals are the determination of the equation of state of matter at supra-nuclear density, the measurement of QED effects in highly magnetized star, and the study of accretion in the strong-field regime of gravity. Primary targets include isolated and binary neutron stars, strong magnetic field systems like magnetars, and stellar-mass and supermassive black holes.</p>
    <a class="project-link" href="https://www.isdc.unige.ch/extp/">Webpage</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="smile" src="{{ "/assets/img/SMILE.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SMILE </h3>
    <p style="text-align:justify">SMILE (Student Moon Initiative for Lunar Exploration) is an international graduate-student-led space mission with a team of mostly doctoral students. The goal of our mission is to land a small (CubeSat-sized) spacecraft that conducts meaningful science on the surface of the moon by 2024. The objective of the primary payloads is to perform in-situ measurements of the radiation environment on the lunar surface and to characterize the behavior of radiation resistant biological organisms for future manned lunar exploration.</p>
  </div>
</div>
<div class="user-details">
  <h1> Past Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="cta" src="{{ "/assets/img/CTA.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CTA </h3>
    <p style="text-align:justify"> The Cherenkov Telescope Array (CTA) is the next generation ground-based observatory for gamma-ray astronomy at very-high energies. With more than 100 telescopes located in the northern and southern hemispheres, CTA will be the world’s largest and most sensitive high-energy gamma-ray observatory.</p>
    <a class="project-link" href="https://www.cta-observatory.org/">Webpage</a>
  </div>
</div>
