<div class="user-details">
  <h1> Research Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="cusp" src="{{ "/assets/img/CUSP.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CUSP </h3>
    <p style="text-align:justify">The Cubesat Solar Polarimeter (CUSP) is a 6U-XL CubeSat mission aiming to measure the polarization of hard X-rays (25-100 keV) emitted by solar flares during which a large amount of energy is released from the Sun in the form of electromagnetic radiation and charged particles. Charged particles are accelerated toward Earth by solar flares and the often associated Coronal Mass Emissions, causing damage to electronic devices in orbit (satellites) and on Earth. CUSP will contribute to the study of the physical processes at play at the flare production sites, but also of the emission and acceleration of energetic charged particles towards our planet, making it a formidable forecasting tool for space weather.</p>
    <a class="project-link" href="https://www.iaps.inaf.it/en/space-missions/cusp">Webpage</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="polar-2" src="{{ "/assets/img/POLAR-2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> POLAR-2 </h3>
    <p style="text-align:justify">POLAR-2 is large scale gamma-ray polarimeter based on the legacy of the POLAR experiment. It is currently being developped for a targeted launch early 2025 to the China Space Station (CSS) for a nominal operation time of 2 years. With a 4 times bigger instrument than its predecessor, and technological upgrades improving the effective area a low energies, POLAR-2 aims to provide high quality joint polarization-spectral measurements of about 50 GRBs every year. The higher statistics will allow detailed time and energy dependant polarization analyses of these GRBs' prompt emission.</p>
    <a class="project-link" href="https://www.unige.ch/dpnc/polar-2">Webpage</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="phemto" src="{{ "/assets/img/PHEMTO.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> PHEMTO </h3>
    <p style="text-align:justify">The Polarimetric High Energy Modular Telescope Observatory (PHEMTO) is a proposed medium-class mission for the ESA M8 call that will perform imaging, spectroscopy, timing, and polarimetry of high energy sources with unprecendented capabilities.</p>
    <a class="project-link" href="https://phemto.astro-ge.ch/">Webpage</a>
  </div>
</div>
<div class="user-details">
  <h1> Past Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="polar" src="{{ "/assets/img/POLAR.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> POLAR </h3>
    <p style="text-align:justify">POLAR was a compact Compton polarimeter located on the Tiangong-2 Chinese space lab dedicated to the measurement of Gamma-Ray Burst (GRB) prompt emission polarization. It took scientific data for about 6 months starting September 2016 and detected 55 GRBs as well as several pulsars and solar flares. Joint polarization and spectral analysis lead to the conclusion that most of the detected GRBs were consistent with unpolarized or lowly polarized sources, excluding synchrotron emission models with ordered magnetic fields. Time resolved analysis showed a hint for a time evolving polarization angle within a GRB single pulse, washing out the polarization fraction on time integrated studies.</p>
    <a class="project-link" href="https://www.astro.unige.ch/polar/">Webpage</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="extp" src="{{ "/assets/img/eXTP.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> eXTP </h3>
    <p style="text-align:justify">The enhanced X-ray Timing and Polarimetry mission (eXTP) is a science mission designed to study the state of matter under extreme conditions of density, gravity and magnetism. Primary goals are the determination of the equation of state of matter at supra-nuclear density, the measurement of QED effects in highly magnetized star, and the study of accretion in the strong-field regime of gravity. Primary targets include isolated and binary neutron stars, strong magnetic field systems like magnetars, and stellar-mass and supermassive black holes.</p>
    <a class="project-link" href="https://www.isdc.unige.ch/extp/">Webpage</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="smile" src="{{ "/assets/img/SMILE.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SMILE </h3>
    <p style="text-align:justify">SMILE (Student Moon Initiative for Lunar Exploration) is an international graduate-student-led space mission with a team of mostly doctoral students. The goal of our mission is to land a small (CubeSat-sized) spacecraft that conducts meaningful science on the surface of the moon by 2024. The objective of the primary payloads is to perform in-situ measurements of the radiation environment on the lunar surface and to characterize the behavior of radiation resistant biological organisms for future manned lunar exploration.</p>
    <a class="project-link" href="https://www.linkedin.com/company/smile2024">LinkedIn page</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="leap" src="{{ "/assets/img/LEAP.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> LEAP </h3>
    <p style="text-align:justify">The LargE Area Burst Polarimeter (LEAP) will radically improve our understanding of some of the most energetic phenomena in our Universe by exposing the underlying physics that governs astrophysical jets and the extreme environment surrounding newborn compact objects. It will consist of a wide FOV Compton polarimeter able to measure GRB polarization over the energy range 50–500 keV and GRB spectrum from 20 keV to 5 MeV. It will be deployed as an external payload on the International Space Station (ISS).</p>
    <a class="project-link" href="https://mypages.unh.edu/markmcconnell/leap">Webpage</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="cta" src="{{ "/assets/img/CTA.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CTA </h3>
    <p style="text-align:justify"> The Cherenkov Telescope Array (CTA) is the next generation ground-based observatory for gamma-ray astronomy at very-high energies. With more than 100 telescopes located in the northern and southern hemispheres, CTA will be the world’s largest and most sensitive high-energy gamma-ray observatory.</p>
    <a class="project-link" href="https://www.cta-observatory.org/">Webpage</a>
  </div>
</div>
