<style>
  .cbCollapseRow {
    display: flex;
  }

  .cbCollapse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 960px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #555555;
    color: #ffffff;
    text-align: left;
    transition: background 0.2s;
  }

  .cbCollapse::after {
    content: '\25be';
    float: right;
  }

  .cbCollapse--active { 
    background: #666666;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .cbCollapse--active::after { content: '\25b4'; }

  .content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 0;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
</style>
 
<div class="user-details">
  <h1> Publication list </h1>
  <button class="cbCollapse">2026</button>
  <div class="content">
      <p style="margin-left: 20px;">
        <strong>
          <a href="" target="_blank">Proton irradiation of POLAR-2 Front/Back-End Electronics and Power Supplies</a>
        </strong>
        <br/>Johannes H<small>ULSMAN</small> et al.<br/>
        <span>Journal</span>
        <span><b>In preparation</b></span> <span><i>(2026)</i></span>
        <span>[<a href="" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="" target="_blank">GRB energy dependent polarization analysis with the POLAR and POLAR-2 instruments</a>
        </strong>
        <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
        <span>Journal</span>
        <span><b>In preparation</b></span> <span><i>(2026)</i></span>
        <span>[<a href="" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="https://doi.org/" target="_blank">Scientific Prospects of the POLAR-2 Mission</a>
        </strong>
        <br/>Nicolas D<small>E</small> A<small>NGELIS</small><br/>
        <span>Frontier Research in Astrophysics - V (FRAPWS2026), PoS</span>
        <span><b>Vol</b></span> <span>pp</span> <span><i>(2026)</i></span>
        <span>[<a href="http://arxiv.org/abs/" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="https://doi.org/" target="_blank">On the potential of widening the energy band of X-ray polarimetry</a>
        </strong>
        <br/>Nicolas D<small>E</small> A<small>NGELIS</small><br/>
        <span>Multifrequency Behaviour of High Energy Cosmic Sources - XV (MULTIF2025), PoS</span>
        <span><b>In preparation</b></span> <span></span> <span><i>(2026)</i></span>
        <span>[<a href="http://arxiv.org/abs/" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="https://doi.org/" target="_blank">Performance testing study of the POLAR-2 Broad-band Spectrometer Detector prototype</a>
        </strong>
        <br/>Jinxiu H<small>U</small> et al.<br/>
        <span>Nuclear Instruments and Methods in Physics Research Section A</span>
        <span><b>Submitted</b></span> <span></span> <span><i>(2026)</i></span>
        <span>[<a href="http://arxiv.org/abs/" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="https://doi.org/" target="_blank">Design and preliminary performance study of the broad-band spectrometer detector for POLAR-2</a>
        </strong>
        <br/>Jianchao S<small>UN</small> et al.<br/>
        <span>Experimental Astronomy</span>
        <span><b>Vol</b></span> <span></span> <span><i>(2026)</i></span>
        <span>[<a href="http://arxiv.org/abs/" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="https://doi.org/" target="_blank">The first X-ray polarimetry of an eclipsing low-mass X-ray binary: serendipitous IXPE observation of AX J1745.6–2901</a>
        </strong>
        <br/>Romana M<small>IKUSINCOVA</small> et al.<br/>
        <span>The Astrophysical Journal</span>
        <span><b>Under Review</b></span> <span></span> <span><i>(2026)</i></span>
        <span>[<a href="http://arxiv.org/abs/2512.13182" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="https://doi.org/" target="_blank">Design and Scientific Prospects of the POLAR-2 Mission</a>
        </strong>
        <br/>Merlin K<small>OLE</small> et al.<br/>
        <span>Innovations in Space Research Technology</span>
        <span><b>1 (1)</b></span> <span>2</span> <span><i>(2026)</i></span>
        <span>[<a href="http://arxiv.org/abs/2510.02016" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="http://dx.doi.org/10.3390/particles9010004" target="_blank">Spectral Performance of Single-Channel Plastic and GAGG Scintillator Bars of the CUbesat Solar Polarimeter (CUSP)</a>
        </strong>
        <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
        <span>Particles</span>
        <span><b>9(1)</b></span> <span>4</span> <span><i>(2026)</i></span>
        <span>[<a href="http://arxiv.org/abs/2601.00485" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="http://dx.doi.org/https://doi.org/10.1016/j.nima.2025.171206" target="_blank">Measurements of the Birks’ coefficient of GAGG: Ce using hard X-rays</a>
        </strong>
        <br/>Merlin K<small>OLE</small> et al.<br/>
        <span>Nuclear Instruments and Methods in Physics Research Section A</span>
        <span><b>1048</b></span> <span>171206</span> <span><i>(2026)</i></span>
        <span>[<a href="http://arxiv.org/abs/2510.02920" target="_blank">arXiv</a>]</span>
      </p>
  </div>
  
  <button class="cbCollapse">2025</button>
  <div class="content">
      <p style="margin-left: 20px;">
        <strong>
          <a href="https://doi.org/" target="_blank">TITLE</a>
        </strong>
        <br/> <small></small> et al.<br/>
        <span>journal</span>
        <span><b>Vol</b></span> <span>pp</span> <span><i>(YEAR)</i></span>
        <span>[<a href="http://arxiv.org/abs/" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="https://doi.org/" target="_blank">TITLE</a>
        </strong>
        <br/> <small></small> et al.<br/>
        <span>journal</span>
        <span><b>Vol</b></span> <span>pp</span> <span><i>(YEAR)</i></span>
        <span>[<a href="http://arxiv.org/abs/" target="_blank">arXiv</a>]</span>
      </p>

  </div>

  <button class="cbCollapse">2024</button>
  <div class="content">
      <p style="margin-left: 20px;">
        <strong>
          <a href="" target="_blank">Future perspectives for Gamma-ray Burst detection from space</a>
        </strong>
        <br/>Enrico B<small>OZZO</small> et al.<br/>
        <span>MDPI</span>
        <span><b>In preparation</b></span> <span><i>(2024)</i></span>
        <span>[<a href="" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <strong>
          <a href="" target="_blank">Calibration of POLAR-2 polarimeter modules with a polarized X-ray beam</a>
        </strong>
        <br/>Merlin K<small>OLE</small> et al.<br/>
        <span>Journal</span>
        <span><b>In preparation</b></span> <span><i>(2024)</i></span>
        <span>[<a href="" target="_blank">arXiv</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
    <p style="margin-left: 20px;">
      <strong>
        <a href="" target="_blank">Optical design, simulations, and characterization of a POLAR-2 polarimeter module</a>
      </strong>
      <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
      <span>Journal</span>
      <span><b>In preparation</b></span> <span><i>(2024)</i></span>
      <span>[<a href="" target="_blank">arXiv</a>]</span>
    </p>
  </div>

  <button class="cbCollapse">2023</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.13097/archive-ouverte/unige:173869" target="_blank">Development of the Next Generation Space-based Compton Polarimeter and Energy Resolved Polarization Analysis of Gamma-Ray Bursts Prompt Emission</a>
      </strong>
      <br/>Nicolas D<small>E</small> A<small>NGELIS</small><br/>
      <span>PhD thesis, University of Geneva - <b>Sc. 5785</b></span>
      <span>[<a href="https://cds.cern.ch/record/2884276" target="_blank">CDS</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.444.0619" target="_blank">Energy-dependent polarization of Gamma-Ray Bursts’ prompt emission with the POLAR and POLAR-2 instruments</a>
      </strong>
      <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
      <span>Proceedings of Science - 38th International Cosmic Ray Conference (ICRC2023)</span>
      <span><b>444</b></span> <span>619</span> <span><i>(2023)</i></span>
      <span>[<a href="https://arxiv.org/abs/2309.00507" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.444.0550" target="_blank">POLAR-2, the next generation of GRB polarization detector</a>
      </strong>
      <br/>Nicolas P<small>RODUIT</small> et al.<br/>
      <span>Proceedings of Science - 38th International Cosmic Ray Conference (ICRC2023)</span>
      <span><b>444</b></span> <span>550</span> <span><i>(2023)</i></span>
      <span>[<a href="https://arxiv.org/abs/2309.00518" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1007/s10686-023-09906-8" target="_blank">Proton irradiation of plastic scintillator bars for POLAR-2</a>
      </strong>
      <br/>Slawomir M<small>IANOWSKI</small> et al.<br/>
      <span>Experimental Astronomy</span>
      <span><b>56</b></span> <span>355–370</span> <span><i>(July 2023)</i></span>
      <span>[<a href="http://arxiv.org/abs/2307.02128" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1016/j.nima.2022.167934" target="_blank">Temperature dependence of radiation damage annealing of Silicon Photomultipliers</a>
      </strong>
      <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
      <span>Nuclear Instruments and Methods in Physics Research Section</span>
      <span><b>A 1048</b> 167934</span><span><i>(March 2023)</i></span>
      <span>[<a href="https://arxiv.org/abs/2212.08474" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1088/1748-0221/18/01/P01037" target="_blank">Characterisation of the MUSIC ASIC for large-area silicon photomultipliers for gamma-ray astronomy</a>
      </strong>
      <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
      <span>JINST</span>
      <span><b>18</b> P01037</span><span><i>(January 2023)</i></span>
      <span>[<a href="https://arxiv.org/abs/2211.14022" target="_blank">arXiv</a>]</span>
    </p>
  </div>

  <button class="cbCollapse">2022</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1007/s10686-022-09873-6" target="_blank">Proton Irradiation of SiPM arrays for POLAR-2</a>
      </strong>
      <br/>Slawomir M<small>IANOWSKI</small> et al.<br/>
      <span>Experimental Astronomy</span>
      <span><b>55</b> 343-371</span> <span><i>(October 2022)</i></span>
      <span>[<a href="https://arxiv.org/abs/2210.01457" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1117/12.2628814" target="_blank">The Large Area Detector onboard the eXTP mission</a>
      </strong>
      <br/>Marco F<small>EROCI</small> et al.<br/>
      <span>SPIE Proceedings</span>
      <span><b>V. 12181</b></span> <span>Space Telescopes and Instrumentation 2022: Ultraviolet to Gamma Ray</span> <span><i>(2022)</i></span>
      <span>[<a href="" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1117/12.2630462" target="_blank">The digital data processing concepts of the Large Area Detector and the Wide Field Monitor onboard eXTP</a>
      </strong>
      <br/>Hao X<small>IONG</small> et al.<br/>
      <span>SPIE Proceedings</span>
      <span><b>V. 12181</b></span> <span>Space Telescopes and Instrumentation 2022: Ultraviolet to Gamma Ray</span> <span><i>(2022)</i></span>
      <span>[<a href="" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1093/mnras/stac522" target="_blank">Gamma-Ray Polarimetry of the Crab Pulsar Observed by POLAR</a>
      </strong>
      <br/>Hancheng L<small>I</small> et al.<br/>
      <span>Monthly Notices of the Royal Astronomical Society</span>
      <span><b>Volume 512</b></span> <span>Issue 2</span> <span><i>(2022)</i></span>
      <span>[<a href="https://arxiv.org/abs/2202.10877" target="_blank">arXiv</a>]</span>
    </p>
  </div>


  <button class="cbCollapse">2021</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <strong>
        <a href="http://dx.doi.org/10.22323/1.395.0580" target="_blank">Development and science perspectives of the POLAR-2 instrument: a large scale GRB polarimeter</a>
      </strong>
      <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
      <span>Proceedings of Science - 37th International Cosmic Ray Conference (ICRC2021)</span>
      <span><b>395</b></span> <span>580</span> <span><i>(2021)</i></span>
      <span>[<a href="http://arxiv.org/abs/arXiv:2109.02978" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.395.0600" target="_blank">Gamma-Ray Polarization Results of the POLAR Mission and Future Prospects</a>
      </strong>
      <br/>Merlin K<small>OLE</small> et al.<br/>
      <span>Proceedings of Science - 37th International Cosmic Ray Conference (ICRC2021)</span>
      <span><b>395</b></span> <span>600</span> <span><i>(2021)</i></span>
      <span>[<a href="https://arxiv.org/abs/2109.02977" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.395.0585" target="_blank">Polarization measurements of the Crab Pulsar with POLAR</a>
      </strong>
      <br/>Hancheng L<small>I</small> et al.<br/>
      <span>Proceedings of Science - 37th International Cosmic Ray Conference (ICRC2021)</span>
      <span><b>395</b></span> <span>585</span> <span><i>(2021)</i></span>
      <span>[<a href="https://arxiv.org/abs/2109.03142" target="_blank">arXiv</a>]</span>
    </p>
  </div>

  <button class="cbCollapse">2020</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1117/12.2559374" target="_blank">POLAR-2: a large scale gamma-ray polarimeter for GRBs</a>
      </strong>
      <br/>Johannes H<small>ULSMAN</small> et al.<br/>
      <span>SPIE Proceedings</span>
      <span><b>V. 11444</b></span> <span>Space Telescopes and Instrumentation 2020: Ultraviolet to Gamma Ray</span> <span><i>(2020)</i></span>
      <span>[<a href="https://arxiv.org/abs/2101.03084" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1051/0004-6361/202037915" target="_blank">The POLAR gamma-ray burst polarization catalog</a>
      </strong>
      <br/>Merlin K<small>OLE</small> et al.<br/>
      <span>A&A</span>
      <span><b>644</b></span> <span>A124</span> <span><i>(2020)</i></span>
      <span>[<a href="https://arxiv.org/abs/2009.04871" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1088/1748-0221/15/11/P11010" target="_blank">Large scale characterization and calibration strategy of a SiPM-based camera for gamma-ray astronomy</a>
      </strong>
      <br/>Cyril A<small>LISPACH</small> et al.<br/>
      <span>JINST</span>
      <span><b>15</b></span> <span>P11010</span> <span><i>(2020)</i></span>
      <span>[<a href="https://arxiv.org/abs/2008.04716" target="_blank">arXiv</a>]</span>
    </p>
  </div>

  <button class="cbCollapse">2019</button>
  <div class="content">
      <p style="margin-left: 20px;">
        <strong>
          <a href="https://dpnc.unige.ch/MASTERS/MASTER_DE_ANGELIS.pdf" target="_blank">Studies of readout electronics and optical elements for a gamma-ray telescope</a>
        </strong>
        <br/>Nicolas D<small>E</small> A<small>NGELIS</small><br/>
        <span>Master thesis, University of Geneva</span>
        <span>[<a href="https://cds.cern.ch/record/2683289" target="_blank">CDS</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.358.0617" target="_blank">Calibration and operation of SiPM-based cameras for gamma-ray astronomy in presence of high night-sky light</a>
      </strong>
      <br/>Cyril A<small>LISPACH</small> et al.<br/>
      <span>Proceedings of Science - 36th International Cosmic Ray Conference (ICRC2019)</span>
      <span><b>358</b></span> <span>617</span> <span><i>(2019)</i></span>
      <span>[<a href="https://arxiv.org/abs/1908.06860" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.358.0708" target="_blank">Monte Carlo study of single SST-1M prototype for Cherenkov Telescope Array</a>
      </strong>
      <br/>Jakub J<small>URYSEK</small> et al.<br/>
      <span>Proceedings of Science - 36th International Cosmic Ray Conference (ICRC2019)</span>
      <span><b>358</b></span> <span>708</span> <span><i>(2019)</i></span>
      <span>[<a href="https://arxiv.org/abs/1907.08061" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.358.0694" target="_blank">The SST-1M project for the Cherenkov Telescope Array</a>
      </strong>
      <br/>Matthieu H<small>ELLER</small> et al.<br/>
      <span>Proceedings of Science - 36th International Cosmic Ray Conference (ICRC2019)</span>
      <span><b>358</b></span> <span>694</span> <span><i>(2019)</i></span>
    </p>
  </div>

</div>

<div class="user-details">
  <h1 id="talks"> Conferences & Talks </h1>
  <button class="cbCollapse">2026</button>
  <div class="content">
      <p style="margin-left: 20px;">
        <span><b>Scientific Prospects of the POLAR-2 Mission - </b></span><span style="color:red;"><i>Invited talk</i></span><br/>
        <span><a href="http://frapws2026.cnr.it/" target="_blank">Mondello Workshop 2026, Frontier Research in Astrophysics - V</a></span> <span><b>Mondello, Palermo, Italy</b></span> <span><i>June 15-20th</i></span>
        <span>[<a href="{{site.docs_download_link}}slides.pdf" target="_blank">Slides</a>]</span>
      </p>
  </div>
  
  <button class="cbCollapse">2025</button>
  <div class="content">
      <p style="margin-left: 20px;">
        <span><b>Solar Flare Hard X-ray Polarimetry with the CUbesat Solar Polarimeter (CUSP) mission</b></span><br/>
        <span><a href="https://www.cospar-assembly.org/admin/congress.php?congress=12/" target="_blank">COSPAR Symposium</a></span> <span><b>Nicosia, Cyprus</b></span> <span><i>November 3-7th</i></span>
        <span>[<a href="{{site.docs_download_link}}COSPARSymp2025.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Voir l’invisible: les rayons X et gamma comme scanner cosmique - </b></span><span style="color:red;"><i>Invited outreach seminar</i></span><br/>
        <span><a href="https://www.astroval.ch/" target="_blank">AstroVal Astronomical Observatory</a></span> <span><b>Le Chenit, Switzerland</b></span> <span><i>September 2nd</i></span>
        <span>[<a href="{{site.docs_download_link}}Seminar_Outreach_ImagingHighEnergyAstro_Astroval.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Gamma-Ray Burst Polarimetry with the POLAR and POLAR-2 missions</b></span><br/>
        <span><a href="https://spie.org/conferences-and-exhibitions/optics-and-photonics/" target="_blank">SPIE Optics + Photonics</a></span> <span><b>San Diego (CA), USA</b></span> <span><i>August 3-7th</i></span>
        <span>[<a href="{{site.docs_download_link}}SPIE2025_POLAR-2.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Prototype Development and Calibration of the CUbesat Solar Polarimeter (CUSP)</b></span><br/>
        <span><a href="https://spie.org/conferences-and-exhibitions/optics-and-photonics/" target="_blank">SPIE Optics + Photonics</a></span> <span><b>San Diego (CA), USA</b></span> <span><i>August 3-7th</i></span>
        <span>[<a href="{{site.docs_download_link}}SPIE2025_CUSP.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Solar Flare Hard X-ray Polarimetry with the CUbesat Solar Polarimeter (CUSP) mission</b></span><br/>
        <span><a href="https://indico.cern.ch/event/1258933/" target="_blank">39th International Cosmic Ray Conference, ICRC2025</a></span> <span><b>Geneva, Switzerland</b></span> <span><i>July 15-24th</i></span>
        <span>[<a href="{{site.docs_download_link}}ICRC2025_Geneva.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Considerations on Possible Directions for a Wide Band Polarimetry X-ray Mission - </b></span><span style="color:red;"><i>Invited talk</i></span><br/>
        <span><a href="https://workshop2025.iaps.inaf.it/" target="_blank">Frascati Workshop 2025,  Multifrequency Behaviour of High Energy Cosmic Sources - XV</a></span> <span><b>Mondello, Palermo, Italy</b></span> <span><i>June 9-14th</i></span>
        <span>[<a href="{{site.docs_download_link}}Frascati2025.pdf" target="_blank">Slides</a>]</span>
        <span><b>+ <span style="color:red;">Session convener</span>: Ongoing Experiments</b></span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Solar Flare Hard X-ray Polarimetry with the CUbesat Solar Polarimeter (CUSP) mission </b></span><br/>
        <span><a href="https://indico.cern.ch/event/1463191/" target="_blank">Advances in Space AstroParticle Physics, ASAPP2025</a></span> <span><b>Sant Feliu de Guíxols, Spain</b></span> <span><i>May 12-16th</i></span>
        <span>[<a href="{{site.docs_download_link}}ASAPP2025_CUSP.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>POLAR-2, the next generation of GRB polarization detector (Poster + flash talk)</b></span><br/>
        <span><a href="https://indico.cern.ch/event/1463191/" target="_blank">Advances in Space AstroParticle Physics, ASAPP2025</a></span> <span><b>Sant Feliu de Guíxols, Spain</b></span> <span><i>May 12-16th</i></span>
        <span>[<a href="{{site.docs_download_link}}IXPO2024_POLAR-2.pdf" target="_blank">Poster</a>, <a href="{{site.docs_download_link}}ASAPP2025_POLAR-2_flashtalk.pdf" target="_blank">Flash Talk</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>POLAR-2, the next generation of GRB polarization detector (Poster + flash talk)</b></span><br/>
        <span><a href="https://indico.gssi.it/event/763/" target="_blank">Frontiers in X-ray Polarimetry (FiXP) Academy</a></span> <span><b>L'Aquila, Italy</b></span> <span><i>April 7-11th</i></span>
        <span>[<a href="{{site.docs_download_link}}IXPO2024_POLAR-2.pdf" target="_blank">Poster</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>The CUbesat Solar Polarimeter (CUSP) mission overview (Poster + flash talk)</b></span><br/>
        <span><a href="https://indico.gssi.it/event/763/" target="_blank">Frontiers in X-ray Polarimetry (FiXP) Academy</a></span> <span><b>L'Aquila, Italy</b></span> <span><i>April 7-11th</i></span>
        <span>[<a href="{{site.docs_download_link}}IXPO2024_CUSP.pdf" target="_blank">Poster</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Compton Polarimetry of Gamma-Ray Transients: Insights from Gamma-Ray Bursts to Solar Flares - </b></span><span style="color:red;"><i>Invited seminar</i></span><br/>
        <span><a href="" target="_blank">Astronomical Observatory of Strasbourg</a></span> <span><b>Strasbourg, France</b></span> <span><i>March 28th</i></span>
        <span>[<a href="{{site.docs_download_link}}Seminar_Compton_Polarimetry_Transients_Strasbourg.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Analysis Workshop on High-Energy Polarimetry - </b></span><span style="color:red;"><i>Invited</i></span><br/>
        <span><a href="https://indico.cern.ch/event/1471661/" target="_blank">Advancing a Universal Analysis Framework for High-Energy Spectro-Polarimetry</a></span> <span><b>Ayent, Switzerland</b></span> <span><i>February 10-14th</i></span>
      </p>
  </div>
  <button class="cbCollapse">2024</button>
  <div class="content">
      <p style="margin-left: 20px;">
        <span><b></b></span><span style="color:red;"><i>Invited expert</i></span><br/>
        <span><a href="" target="_blank">Closed-door eXTP-PFA Workshop</a></span> <span><b>Beijing, China</b></span> <span><i>October 21st</i></span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Solar Flare polarimetry with the CUbesat Solar Polarimeter (CUSP) mission - </b></span><span style="color:red;"><i>Invited talk</i></span><br/>
        <span><a href="" target="_blank">GRBAXP Polarimetry Workshop</a></span> <span><b>Nanning, China</b></span> <span><i>October 15-19th</i></span>
        <span>[<a href="{{site.docs_download_link}}GuangXi_Workshop_2024.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>The CUbesat Solar Polarimeter (CUSP) mission overview (Poster + flash talk)</b></span><br/>
        <span><a href="https://sti.usra.edu/ixpo/" target="_blank">IXPO: International X-ray POlarimetry Symposium</a></span> <span><b>Huntsville (AL), USA</b></span> <span><i>September 16-19th</i></span>
        <span>[<a href="{{site.docs_download_link}}IXPO2024_CUSP.pdf" target="_blank">Poster</a>, <a href="{{site.docs_download_link}}IXPO2024_CUSP_flashtalk.pdf" target="_blank">Flash Talk</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>A 3ML-based universal tool for X-/γ-ray polarimetry using common data format standards (Poster + flash talk)</b></span><br/>
        <span><a href="https://sti.usra.edu/ixpo/" target="_blank">IXPO: International X-ray POlarimetry Symposium</a></span> <span><b>Huntsville (AL), USA</b></span> <span><i>September 16-19th</i></span>
        <span>[<a href="{{site.docs_download_link}}IXPO2024_PolPy.pdf" target="_blank">Poster</a>, <a href="{{site.docs_download_link}}IXPO2024_PolPy_flashtalk.pdf" target="_blank">Flash Talk</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>POLAR-2, the next generation of GRB polarization detector (Poster + flash talk)</b></span><br/>
        <span><a href="https://sti.usra.edu/ixpo/" target="_blank">IXPO: International X-ray POlarimetry Symposium</a></span> <span><b>Huntsville (AL), USA</b></span> <span><i>September 16-19th</i></span>
        <span>[<a href="{{site.docs_download_link}}IXPO2024_POLAR-2.pdf" target="_blank">Poster</a>, <a href="{{site.docs_download_link}}IXPO2024_POLAR-2_flashtalk.pdf" target="_blank">Flash Talk</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Temperature Dependence of Radiation Damage Annealing of Silicon Photomultipliers - </b></span><span style="color:red;"><i>ESA awardee</i></span><br/>
        <span><a href="https://errs2024.pt/" target="_blank">48th European Radiation Research Society Meeting</a></span> <span><b>Aveiro, Portugal - Online Participation</b></span> <span><i>September 10-13th</i></span>
        <span>[<a href="{{site.docs_download_link}}ERRS2024.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Future Perspectives for Gamma-ray Burst Detection from Space - </b></span><span style="color:red;"><i>Invited talk</i></span><br/>
        <span><a href="https://frapws2024.iaps.inaf.it/" target="_blank">Mondello Workshop 2024, Frontier Research in Astrophysics - IV</a></span> <span><b>Mondello, Palermo, Italy</b></span> <span><i>September 9-14th</i></span>
        <span>[<a href="{{site.docs_download_link}}Mondello2024.pdf" target="_blank">Slides</a>]</span>
        <span><b>+ <span style="color:red;">Session convener</span>: Ongoing Experiments</b></span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Energy-dependent polarization of Gamma-Ray Bursts’ prompt emission with the POLAR and POLAR-2 instruments</b></span><br/>
        <span><a href="https://astronomy2024.org/" target="_blank">XXXII IAU General Assembly</a></span> <span><b>Cape Town, South Africa – Online Participation</b></span> <span><i>August 6-15th</i></span>
        <span>[<a href="{{site.docs_download_link}}IAU2024.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>The CUbesat Solar Polarimeter (CUSP) mission overview</b></span><br/>
        <span><a href="https://www.cospar2024.org/" target="_blank">COSPAR 2024</a></span> <span><b>Busan, Korea</b></span> <span><i>July 13-21st</i></span>
        <span>[<a href="{{site.docs_download_link}}COSPAR2024_CUSP.pdf" target="_blank">Slides</a>]</span>
      </p>
      <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
      <p style="margin-left: 20px;">
        <span><b>Gamma-Ray Burst Polarimetry with the POLAR and POLAR-2 missions</b></span><br/>
        <span><a href="https://www.cospar2024.org/" target="_blank">COSPAR 2024</a></span> <span><b>Busan, Korea</b></span> <span><i>July 13-21st</i></span>
        <span>[<a href="{{site.docs_download_link}}COSPAR2024_POLAR-2.pdf" target="_blank">Slides</a>]</span>
      </p>
  </div>
  
  <button class="cbCollapse">2023</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <span><b>Development of the Next Generation Space-based Compton Polarimeter and Energy Resolved Polarization Analysis of Gamma-Ray Bursts Prompt Emission</b></span><br/>
      <span><a href="https://doi.org/10.13097/archive-ouverte/unige:173869" target="_blank">PhD thesis</a></span> <span>defense</span> <span><b>Geneva, Switzerland</b></span> <span><i>December 7th</i></span>
      <span>[<a href="{{site.docs_download_link}}phd_defense.pdf" target="_blank">Slides</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
    <p style="margin-left: 20px;">
      <span><b>Analysis Workshop</b></span><br/>
      <span><a href="https://indico.cern.ch/event/1288612/" target="_blank">Bringing Theory into the Data Space</a></span> <span><b>Nendaz, Switzerland</b></span> <span><i>October 9-13th</i></span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
    <p style="margin-left: 20px;">
      <span><b>Energy-dependent polarization of Gamma-Ray Bursts’ prompt emission with the POLAR and POLAR-2 instruments</b></span><br/>
      <span><a href="https://www.icrc2023.org/" target="_blank">38th International Cosmic Ray Conference (ICRC)</a></span> <span><b>Nagoya, Japan</b></span> <span><i>July 26th-August 3rd</i></span>
      <span>[<a href="{{site.docs_download_link}}ICRC2023_Nagoya.pdf" target="_blank">Slides</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;">
    <p style="margin-left: 20px;">
      <span><b>Energy-dependent polarization of Gamma-Ray Bursts’ prompt emission with the POLAR and POLAR-2 instruments</b></span><br/>
      <span><a href="https://eas.unige.ch/" target="_blank">European Astronomical Society Annual Meeting EAS2023</a></span> <span><b>Krakow, Poland</b></span> <span><i>July 10-14th</i></span>
      <span>[<a href="{{site.docs_download_link}}EAS2023_Krakow.pdf" target="_blank">Slides</a>]</span>
    </p>
  </div>

  <button class="cbCollapse">2022</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <span><b>Measuring Gamma-Ray Burst Polarization with the POLAR-2 mission</b></span><br/>
      <span><a href="https://partphys-indico.unige.ch/event/703/" target="_blank">Young researchers' day</a></span> <span><b>Geneva, Switzerland</b></span> <span><i>September 16th</i></span>
      <span>[<a href="{{site.docs_download_link}}Geneva_Young_researchers_day_2022.pdf" target="_blank">Slides</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Measuring Gamma-Ray Transients Polarization with the POLAR-2 Compton Polarimeter</b></span><br/>
      <span><a href="https://indico.ict.inaf.it/event/982/" target="_blank">Astrophysical Polarimetry in the Time-Domain Era</a></span> <span><b>Lecco, Italy</b></span> <span><i>August 28th-September 1st</i></span>
      <span>[<a href="{{site.docs_download_link}}AstrophysicalPolarimetry_Lecco_2022.pdf" target="_blank">Slides</a>; <a href="https://doi.org/10.5281/zenodo.7085932" target="_blank">DOI</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Gamma-Ray Polarization Measurements with the POLAR-2 Mission - </b></span><span style="color:red;"><i>Invited talk</i></span><br/>
      <span><a href="https://www.cosparathens2022.org/" target="_blank">COSPAR 2022</a></span> <span><b>Athens, Greece</b></span> <span><i>July 16-24th</i></span>
      <span>[<a href="{{site.docs_download_link}}COSPAR_Athens_2022.pdf" target="_blank">Slides</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Gamma-Ray Burst Polarization Measurements with the POLAR-2 mission</b></span><br/>
      <span><a href="https://astrodragon.web.roma2.infn.it/" target="_blank">1st Mondragone Frontiers of Astronomy Series</a></span> <span><b>Monte Porzio Catone, Italy</b></span> <span><i>May 18-20th</i></span>
      <span>[<a href="{{site.docs_download_link}}Mondragone_1st_2022.pdf" target="_blank">Slides</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Annealing Characterization of Hamamatsu S13360-60xx SiPMs for Space Applications</b></span><br/>
      <span><a href="https://indico.cern.ch/event/1093102/" target="_blank">SiPM Radiation workshop</a></span> <span><b>CERN, Geneva, Switzerland</b></span> <span><i>April 25-29th</i></span>
      <span>[<a href="{{site.docs_download_link}}CERN_SiPM_workshop_2022.pdf" target="_blank">Slides</a>]</span><br/>
      <span><b>+ <span style="color:red;">Session convener</span>: SiPMs irradiation with Neutrons & Electrons</b></span>
    </p>
  </div>


  <button class="cbCollapse">2021</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <span><b>Development and science perspectives of the POLAR-2 instrument: a large scale GRB polarimeter (Poster + flash talk)</b></span><br/>
      <span><a href="https://indico.ict.inaf.it/event/1001/" target="_blank">Integral Meeting 2021</a></span> <span><b>Santa Margherita di Pula, Italy</b></span> <span><i>October 11-15th</i></span>
      <span>[<a href="{{site.docs_download_link}}Poster_Integral21_Sardegna.pdf" target="_blank">Poster</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Development and science perspectives of the POLAR-2 instrument: a large scale GRB polarimeter (Poster + flash talk)</b></span><br/>
      <span><a href="https://icrc2021.desy.de/" target="_blank">37th International Cosmic Ray Conference (ICRC)</a></span> <span><b>Berlin, Germany (Online)</b></span> <span><i>July 12-23rd</i></span>
      <span>[<a href="{{site.docs_download_link}}Poster_ICRC21_Berlin.pdf" target="_blank">Poster</a>, <a href="{{site.docs_download_link}}ICRC2021_flashtalk.pdf" target="_blank">Flash Talk</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>POLAR-2: Development of a Large Scale Gamma-ray Polarimeter</b></span><br/>
      <span><a href="https://astropol2020-iau.jp/" target="_blank">IAU Symposium 360 - ASTROPOL 2020</a></span> <span><b>Hiroshima, Japan (Online)</b></span> <span><i>March 22-26th</i></span>
      <span>[<a href="{{site.docs_download_link}}Astropol2021_Hiroshima.pdf" target="_blank">Slides</a>]</span>
    </p>
  </div>
  
  <button class="cbCollapse">2019</button>
  <div class="content">
  <p style="margin-left: 20px;">
    <span><b>Studies of readout electronics and optical elements for a gamma-ray telescope</b></span><br/>
    <span><a href="https://cds.cern.ch/record/2683289" target="_blank">Master thesis</a></span> <span>defense</span> <span><b>Geneva, Switzerland</b></span> <span><i>July 12th</i></span>
    <span>[<a href="{{site.docs_download_link}}master_defense.pdf" target="_blank">Slides</a>]</span>
  </p>
  <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
  <p style="margin-left: 20px;">
    <span><b>Study of the MUSIC ASIC for possible SST-1M upgrade</b></span><br/>
    <span>CTA Consortium Meeting 2019</span> <span><b>Lugano, Switzerland</b></span> <span><i>June 3-7th</i></span>
    <span>[<a href="{{site.docs_download_link}}CTA_Lugano_2019.pdf" target="_blank">Slides</a>]</span>
  </p>
  </div>

</div>


<script>
    var coll = document.getElementsByClassName("cbCollapse");
    var i;
    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("cbCollapse--active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        }
    });
    }
</script>
