<style>
  .cbCollapseRow {
    display: flex;
  }

  .cbCollapse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 960px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #555555;
    color: #ffffff;
    text-align: left;
    transition: background 0.2s;
  }

  .cbCollapse::after {
    content: '\25be';
    float: right;
  }

  .cbCollapse--active { 
    background: #666666;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .cbCollapse--active::after { content: '\25b4'; }

  .content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 0;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
</style>
 
<div class="user-details">
  <h1> Publication list </h1>
  <button class="cbCollapse">2023</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1088/1748-0221/18/01/P01037" target="_blank">Characterisation of the MUSIC ASIC for large-area silicon photomultipliers for gamma-ray astronomy</a>
      </strong>
      <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
      <span>JINST</span>
      <span><b>18</b> P01037</span><span><i>(2023)</i></span>
      <span>[<a href="https://arxiv.org/abs/2211.14022" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1016/j.nima.2022.167934" target="_blank">Temperature dependence of radiation damage annealing of Silicon Photomultipliers</a>
      </strong>
      <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
      <span>Nuclear Instruments and Methods in Physics Research Section A</span>
      <span><span><i>(2023)</i></span>
      <span>[<a href="https://arxiv.org/abs/2212.08474" target="_blank">arXiv</a>]</span>
    </p>
  </div>

  <button class="cbCollapse">2022</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1007/s10686-022-09873-6" target="_blank">Proton Irradiation of SiPM arrays for POLAR-2</a>
      </strong>
      <br/>Slawomir M<small>IANOWSKI</small> et al.<br/>
      <span>Experimental Astronomy</span>
      <span><i>(2022)</i></span>
      <span>[<a href="https://arxiv.org/abs/2210.01457" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1117/12.2628814" target="_blank">The Large Area Detector onboard the eXTP mission</a>
      </strong>
      <br/>Marco F<small>EROCI</small> et al.<br/>
      <span>SPIE Proceedings</span>
      <span><b>V. 12181</b></span> <span>Space Telescopes and Instrumentation 2022: Ultraviolet to Gamma Ray</span> <span><i>(2022)</i></span>
      <span>[<a href="" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1117/12.2630462" target="_blank">The digital data processing concepts of the Large Area Detector and the Wide Field Monitor onboard eXTP</a>
      </strong>
      <br/>Hao X<small>IONG</small> et al.<br/>
      <span>SPIE Proceedings</span>
      <span><b>V. 12181</b></span> <span>Space Telescopes and Instrumentation 2022: Ultraviolet to Gamma Ray</span> <span><i>(2022)</i></span>
      <span>[<a href="" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1093/mnras/stac522" target="_blank">Gamma-Ray Polarimetry of the Crab Pulsar Observed by POLAR</a>
      </strong>
      <br/>Hancheng L<small>I</small> et al.<br/>
      <span>Monthly Notices of the Royal Astronomical Society</span>
      <span><b>Volume 512</b></span> <span>Issue 2</span> <span><i>(2022)</i></span>
      <span>[<a href="https://arxiv.org/abs/2202.10877" target="_blank">arXiv</a>]</span>
    </p>
  </div>


  <button class="cbCollapse">2021</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <strong>
        <a href="http://dx.doi.org/10.22323/1.395.0580" target="_blank">Development and science perspectives of the POLAR-2 instrument: a large scale GRB polarimeter</a>
      </strong>
      <br/>Nicolas D<small>E</small> A<small>NGELIS</small> et al.<br/>
      <span>Proceedings of Science - 37th International Cosmic Ray Conference (ICRC2021)</span>
      <span><b>395</b></span> <span>580</span> <span><i>(2021)</i></span>
      <span>[<a href="http://arxiv.org/abs/arXiv:2109.02978" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.395.0600" target="_blank">Gamma-Ray Polarization Results of the POLAR Mission and Future Prospects</a>
      </strong>
      <br/>Merlin K<small>OLE</small> et al.<br/>
      <span>Proceedings of Science - 37th International Cosmic Ray Conference (ICRC2021)</span>
      <span><b>395</b></span> <span>600</span> <span><i>(2021)</i></span>
      <span>[<a href="https://arxiv.org/abs/2109.02977" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.395.0585" target="_blank">Polarization measurements of the Crab Pulsar with POLAR</a>
      </strong>
      <br/>Hancheng L<small>I</small> et al.<br/>
      <span>Proceedings of Science - 37th International Cosmic Ray Conference (ICRC2021)</span>
      <span><b>395</b></span> <span>585</span> <span><i>(2021)</i></span>
      <span>[<a href="https://arxiv.org/abs/2109.03142" target="_blank">arXiv</a>]</span>
    </p>
  </div>

  <button class="cbCollapse">2020</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1117/12.2559374" target="_blank">POLAR-2: a large scale gamma-ray polarimeter for GRBs</a>
      </strong>
      <br/>Johannes H<small>ULSMAN</small> et al.<br/>
      <span>SPIE Proceedings</span>
      <span><b>V. 11444</b></span> <span>Space Telescopes and Instrumentation 2020: Ultraviolet to Gamma Ray</span> <span><i>(2020)</i></span>
      <span>[<a href="https://arxiv.org/abs/2101.03084" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1051/0004-6361/202037915" target="_blank">The POLAR gamma-ray burst polarization catalog</a>
      </strong>
      <br/>Merlin K<small>OLE</small> et al.<br/>
      <span>A&A</span>
      <span><b>644</b></span> <span>A124</span> <span><i>(2020)</i></span>
      <span>[<a href="https://arxiv.org/abs/2009.04871" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.1088/1748-0221/15/11/P11010" target="_blank">Large scale characterization and calibration strategy of a SiPM-based camera for gamma-ray astronomy</a>
      </strong>
      <br/>Cyril A<small>LISPACH</small> et al.<br/>
      <span>JINST</span>
      <span><b>15</b></span> <span>P11010</span> <span><i>(2020)</i></span>
      <span>[<a href="https://arxiv.org/abs/2008.04716" target="_blank">arXiv</a>]</span>
    </p>
  </div>

  <button class="cbCollapse">2019</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.358.0617" target="_blank">Calibration and operation of SiPM-based cameras for gamma-ray astronomy in presence of high night-sky light</a>
      </strong>
      <br/>Imen A<small>L</small> S<small>AMARAI</small> et al.<br/>
      <span>Proceedings of Science - 36th International Cosmic Ray Conference (ICRC2019)</span>
      <span><b>358</b></span> <span>617</span> <span><i>(2019)</i></span>
      <span>[<a href="https://arxiv.org/abs/1908.06860" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.358.0708" target="_blank">Monte Carlo study of single SST-1M prototype for Cherenkov Telescope Array</a>
      </strong>
      <br/>Jakub J<small>URYSEK</small> et al.<br/>
      <span>Proceedings of Science - 36th International Cosmic Ray Conference (ICRC2019)</span>
      <span><b>358</b></span> <span>708</span> <span><i>(2019)</i></span>
      <span>[<a href="https://arxiv.org/abs/1907.08061" target="_blank">arXiv</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <strong>
        <a href="https://doi.org/10.22323/1.358.0694" target="_blank">The SST-1M project for the Cherenkov Telescope Array</a>
      </strong>
      <br/>Matthieu H<small>ELLER</small> et al.<br/>
      <span>Proceedings of Science - 36th International Cosmic Ray Conference (ICRC2019)</span>
      <span><b>358</b></span> <span>694</span> <span><i>(2019)</i></span>
    </p>
  </div>

</div>

<div class="user-details">
  <h1 id="talks"> Conferences & Talks </h1>
  <button class="cbCollapse">2023</button>

  <button class="cbCollapse">2022</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <span><b>Measuring Gamma-Ray Burst Polarization with the POLAR-2 mission</b></span><br/>
      <span><a href="https://partphys-indico.unige.ch/event/703/" target="_blank">Young researchers' day</a></span> <span><b>Geneva, Switzerland</b></span> <span><i>September 16th</i></span>
      <span>[<a href="{{site.docs_download_link}}Geneva_Young_researchers_day_2022.pdf" target="_blank">Slides</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Measuring Gamma-Ray Transients Polarization with the POLAR-2 Compton Polarimeter</b></span><br/>
      <span><a href="https://indico.ict.inaf.it/event/982/" target="_blank">Astrophysical Polarimetry in the Time-Domain Era</a></span> <span><b>Lecco, Italy</b></span> <span><i>August 28th-September 1st</i></span>
      <span>[<a href="{{site.docs_download_link}}AstrophysicalPolarimetry_Lecco_2022.pdf" target="_blank">Slides</a>; <a href="https://doi.org/10.5281/zenodo.7085932" target="_blank">DOI</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Gamma-Ray Polarization Measurements with the POLAR-2 Mission - </b></span><span style="color:red;"><i>Invited talk</i></span><br/>
      <span><a href="https://www.cosparathens2022.org/" target="_blank">COSPAR 2022</a></span> <span><b>Athens, Greece</b></span> <span><i>July 16-24th</i></span>
      <span>[<a href="{{site.docs_download_link}}COSPAR_Athens_2022.pdf" target="_blank">Slides</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Gamma-Ray Burst Polarization Measurements with the POLAR-2 mission</b></span><br/>
      <span><a href="https://astrodragon.web.roma2.infn.it/" target="_blank">1st Mondragone Frontiers of Astronomy Series</a></span> <span><b>Monte Porzio Catone, Italy</b></span> <span><i>May 18-20th</i></span>
      <span>[<a href="{{site.docs_download_link}}Mondragone_1st_2022.pdf" target="_blank">Slides</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Annealing Characterization of Hamamatsu S13360-60xx SiPMs for Space Applications</b></span><br/>
      <span><a href="https://indico.cern.ch/event/1093102/" target="_blank">SiPM Radiation workshop</a></span> <span><b>CERN, Geneva, Switzerland</b></span> <span><i>April 25-29th</i></span>
      <span>[<a href="{{site.docs_download_link}}CERN_SiPM_workshop_2022.pdf" target="_blank">Slides</a>]</span><br/>
      <span><b>+ <span style="color:red;">Session convener</span>: SiPMs irradiation with Neutrons & Electrons</b></span>
    </p>
  </div>


  <button class="cbCollapse">2021</button>
  <div class="content">
    <p style="margin-left: 20px;">
      <span><b>Development and science perspectives of the POLAR-2 instrument: a large scale GRB polarimeter (Poster + flash talk)</b></span><br/>
      <span><a href="https://indico.ict.inaf.it/event/1001/" target="_blank">Integral Meeting 2021</a></span> <span><b>Santa Margherita di Pula, Italy</b></span> <span><i>October 11-15th</i></span>
      <span>[<a href="{{site.docs_download_link}}Poster_Integral21_Sardegna.pdf" target="_blank">Poster</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>Development and science perspectives of the POLAR-2 instrument: a large scale GRB polarimeter (Poster + flash talk)</b></span><br/>
      <span><a href="https://icrc2021.desy.de/" target="_blank">37th International Cosmic Ray Conference (ICRC)</a></span> <span><b>Berlin, Germany (Online)</b></span> <span><i>July 12-23rd</i></span>
      <span>[<a href="{{site.docs_download_link}}Poster_ICRC21_Berlin.pdf" target="_blank">Poster</a>, <a href="{{site.docs_download_link}}ICRC2021_flashtalk.pdf" target="_blank">Flash Talk</a>]</span>
    </p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">
      <span><b>POLAR-2: Development of a Large Scale Gamma-ray Polarimeter</b></span><br/>
      <span><a href="https://astropol2020-iau.jp/" target="_blank">IAU Symposium 360 - ASTROPOL 2020</a></span> <span><b>Hiroshima, Japan (Online)</b></span> <span><i>March 22-26th</i></span>
      <span>[<a href="{{site.docs_download_link}}Astropol2021_Hiroshima.pdf" target="_blank">Slides</a>]</span>
    </p>
  </div>

  <button class="cbCollapse">2019</button>
  <div class="content">
  <p style="margin-left: 20px;">
    <span><b>Studies of readout electronics and optical elements for a gamma-ray telescope</b></span><br/>
    <span>Master thesis defense</span> <span><b>Geneva, Switzerland</b></span> <span><i>July 12th</i></span>
    <span>[<a href="{{site.docs_download_link}}master_defense.pdf" target="_blank">Slides</a>]</span>
  </p>
  <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
  <p style="margin-left: 20px;">
    <span><b>Study of the MUSIC ASIC for possible SST-1M upgrade</b></span><br/>
    <span>CTA Consortium Meeting 2019</span> <span><b>Lugano, Switzerland</b></span> <span><i>June 3-7th</i></span>
    <span>[<a href="{{site.docs_download_link}}CTA_Lugano_2019.pdf" target="_blank">Slides</a>]</span>
  </p>
  </div>

</div>


<script>
    var coll = document.getElementsByClassName("cbCollapse");
    var i;
    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("cbCollapse--active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        }
    });
    }
</script>
