<style>
  .cbCollapseRow {
      display: flex;
  }

  .cbCollapse {
      display: block;
      width: 100%;
      padding: 15px;
      border: none;
      outline: none;
      cursor: pointer;
      background: #333333;
      color: #ffffff;
      text-align: left;
      transition: background 0.2s;
  }

  .content {
      width: 100%;
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #f1f1f1;
  }
</style>

<div class="user-details">

  <button class="cbCollapse">2022</button>
  <div class="content">
  <p>Lorem ipsum dolor sit amet</p>
  </div>

  <button class="cbCollapse">2021</button>
  <div class="content">
  <p>Lorem ipsum dolor sit amet</p>
  </div>

  <button class="cbCollapse">2020</button>
  <div class="content">
  <p>Lorem ipsum dolor sit amet</p>
  </div>

  <button class="cbCollapse">2019</button>
  <div class="content">
  <p>Lorem ipsum dolor sit amet</p>
  </div>

</div>

<script>
    var coll = document.getElementsByClassName("cbCollapse");
    var i;
    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        }
    });
    }
</script>
