<div class="user-details">
  <h1> Publication list </h1>
<div class="accordion">
  <button type="button" class="accordion__button accordion__button--active">2021</button>
  <div class="accordion__content"></div>
    <p>
      Publication in Journal by Author at Date, link.com
    </p>
  </div>
</div>
</div>

<script>
  document.querySelectorAll('.accordion__button').forEach(button => {
    button.addEventListener('click', () => {
      const accordionContent = button.nextElementSibling;

      button.classList.toggle('accordion__button--active');

      if (button.classList.contains('accordion__button--active')) {
        accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
      } else {
        accordionContent.style.maxHeight = 0;
      }
    });
  });
</script>
