<div class="user-details">
<div class="user">
    <div class="tech">
    </div>
    <div class="tech">
      <h1>Code</h1>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i></br>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <img alt="root" src="{{ "/assets/img/logo_root.png" | prepend: site.baseurl }}" width="75" height="75"/>
      <img alt="geant4" src="{{ "/assets/img/logo_g4.png" | prepend: site.baseurl }}" width="75" height="75"/>
    </div>
    <div class="tech">
      <h1>Software</h1>
      <i class="devicon-labview-plain-wordmark colored"></i>
      <i class="devicon-latex-plain colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matlab/matlab-original.svg" width="75" height="75"/>
      <img alt="mathemtica" src="{{ "/assets/img/logo_mathematica.png" | prepend: site.baseurl }}" width="75" height="75"/></br>
      <i class="devicon-gimp-plain colored"></i>
      <i class="devicon-illustrator-plain colored"></i>
      <img alt="solidworks" src="{{ "/assets/img/logo_solidworks.png" | prepend: site.baseurl }}" width="75" height="75"/>
      <img alt="catia" src="{{ "/assets/img/logo_catia.png" | prepend: site.baseurl }}" width="75" height="75"/></br>
      <img alt="comsol-multiphysics" src="{{ "/assets/img/logo_COMSOL.png" | prepend: site.baseurl }}" width="75" height="75"/>

      <p>cadencePspice lightroom</p>
    </div>
    <div class="tech">
    </div>
</div>
</div>
