<div class="user-details">
<div class="user">
    <div class="tech">
      <h1>Code</h1>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>+ add root and geant4</p>
    </div>
    <div class="tech">
      <h1>Software</h1>
      <i class="devicon-labview-plain-wordmark colored"></i>
      <i class="devicon-latex-plain colored"></i>
      <i class="devicon-matlab-plain colored"></i>
      <p>catia solidworks comsol mathemtica + update matlab?</p>
    </div>
    <div class="tech">
    </div>
</div>
</div>
