<style>
  .cbCollapseRow {
    display: flex;
  }

  .cbCollapse {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 960px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #555555;
    color: #ffffff;
    text-align: left;
    transition: background 0.2s;
  }

  .cbCollapse::after {
    content: '\25be';
    float: right;
  }

  .cbCollapse--active { 
    background: #666666;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .cbCollapse--active::after { content: '\25b4'; }

  .content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 0;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
</style>

<body>
<div class="user-details">
  <h1> Talks </h1>

  <button class="cbCollapse">2022</button>
  <div class="content">
    <p style="margin-left: 20px;">sipm workshop/mondragone/cospar/milano</p>
    <hr style="color: #aaaaaa; width: 960px; margin-top: 0; margin-bottom :0;"> 
    <p style="margin-left: 20px;">Lorem ipsum dolor sit amet</p>
  </div>


  <button class="cbCollapse">2021</button>
  <div class="content">
    <p style="margin-left: 20px;">astropol/icrc</p>
  </div>

  <button class="cbCollapse">2020</button>
  <div class="content">
  <p style="margin-left: 20px;">Lorem ipsum dolor sit amet</p>
  </div>

  <button class="cbCollapse">2019</button>
  <div class="content">
  <p style="margin-left: 20px;">CTA Lugano + mster defense - add pdf of slides</p>
  </div>

</div>
</body>

<script>
    var coll = document.getElementsByClassName("cbCollapse");
    var i;
    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("cbCollapse--active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        }
    });
    }
</script>
