<div class="user-details">
  <h1> Teaching & Outreach </h1>
  <ul>
    <li>Nuit de la Science 2022...</li>
    <li><b>2022-:</b> Co-organizing journal clubs for the space astroparticle physics group (DPNC, UniGE)</li>
    <li><b>2020-:</b> <a href="https://wwwi.unige.ch/cursus/programme-des-cours/web/teachings/details/2020-11P097?year=2021" target="_blank">Physique Générale D</a>: - Teaching general physics (Classical Mechanics, Thermodynamics, Hydrodynamics, Elasticity, Electronics, Electromagnetism, Optics) to 1<sup>st</sup> year bachelor student in Pharmacy</li>
    <li><b>2020-:</b> <a href="https://wwwi.unige.ch/cursus/programme-des-cours/web/teachings/details/2020-11P090?year=2021" target="_blank">Physique Générale C</a>: - Teaching general physics (Classical Mechanics, Thermodynamics, Hydrodynamics, Elasticity, Electronics, Electromagnetism, Optics) to 1<sup>st</sup> year bachelor student in Chemistry, Biochemistry, IT, and Geology.</li>
    <li><b>2018-2020:</b> <a href="https://wwwi.unige.ch/cursus/programme-des-cours/web/teachings/details/2020-11P985?year=2019" target="_blank"></a>Laboratoire de Physique B</a> - Teaching physics labs (Classical Mechanics, Thermodynamics, Optics, Electronics, Nuclear Physics) for 1<sup>st</sup> year biology/pharmacy bachelor students</li>
    <li><a href="http://dpnc.unige.ch/~sfyrla/LaNuitDeLaScience2018/index.html" target="_blank"><b>Nuit de la Science 2018</b></a> - Outreach week-end...</li>
  </ul> 

  accept journal sb? + cernC? + dpnc website?
</div>
