<style>
    .content {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding: 0 0;
      max-height: 0;
      text-align: left;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #f1f1f1;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
</style>

<div class="user-details">
  <h1> Teaching & Outreach </h1>
  <p>
  <ul>
    <li>Lecture about Applications of SiPMs to High Energy Astrophysics, as part of the Master course "<a href="https://pgc.unige.ch/main/teachings/details/2022-14A061?year=2022" target="_blank">Optics and Detectors for astronomy</a>"</li>
    <li>Nuit de la Science 2022...</li>
    <li><b>2022-2023:</b> Co-organizing journal clubs for the space astroparticle physics group of DPNC (Department of High Energy Physics, University of Geneva)</li>
    <li><b>2020-2023:</b> <a href="https://wwwi.unige.ch/cursus/programme-des-cours/web/teachings/details/2020-11P097?year=2021" target="_blank">Physique Générale D</a>: - Teaching general physics (Classical Mechanics, Thermodynamics, Hydrodynamics, Elasticity, Electronics, Electromagnetism, Optics) to 1<sup>st</sup> year bachelor student in Pharmacy</li>
    <li><b>2020-2023:</b> <a href="https://wwwi.unige.ch/cursus/programme-des-cours/web/teachings/details/2020-11P090?year=2021" target="_blank">Physique Générale C</a>: - Teaching general physics (Classical Mechanics, Thermodynamics, Hydrodynamics, Elasticity, Electronics, Electromagnetism, Optics) to 1<sup>st</sup> year bachelor student in Chemistry, Biochemistry, IT, and Geology.</li>
    <li><b>2019-:</b> Webmaster of the Space astroparticle physics group <a href="https://www.unige.ch/dpnc/en/groups/xin-wu/home/" target="_blank">website</a> at DPNC (UniGE)</li>
    <li><b>2018-2020:</b> <a href="https://wwwi.unige.ch/cursus/programme-des-cours/web/teachings/details/2020-11P985?year=2019" target="_blank"></a>Laboratoire de Physique B</a> - Teaching physics labs (Classical Mechanics, Thermodynamics, Optics, Electronics, Nuclear Physics) for 1<sup>st</sup> year biology/pharmacy bachelor students</li>
    <li><a href="http://dpnc.unige.ch/~sfyrla/LaNuitDeLaScience2018/index.html" target="_blank"><b>Nuit de la Science 2018</b></a> - Outreach week-end...</li>
  </ul> 
  </p>

</div>
