<style>
    .cbCollapse {
        display: block;
        width: $max-width;
        padding: 15px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #333333;
        color: #ffffff;
        text-align: left;
        transition: background 0.2s;
    }

    .content {
        width: 100%;
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
</style>

<div class="cbCollapseRow">
  <h2>Sample 1</h2>
</div>
<button class="cbCollapse">test</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet</p>
</div>

<button class="cbCollapse"></button>
<div class="content">
  <p>Lorem ipsum dolor sit amet</p>
</div>


<div class="cbCollapseRow">
  <h2>Sample 3</h2>
</div>
<button class="cbCollapse"></button>
<div class="content">
  <p>Lorem ipsum dolor sit amet</p>
</div>

<script>
    var coll = document.getElementsByClassName("cbCollapse");
    var i;
    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        }
    });
    }
</script>
