<div class="user-details">
  <h1>{{site.timeline_title}}</h1>
  <p class="subtitle">
  For more information, have a look at my <a class="highlight-link" href="{{site.docs_download_link}}CV.pdf" target="_blank" rel="noreferrer">
    curriculum vitae</a>.
  </p>
</div>

<div class="user-details">
  <ul class="timeline">
    {%- assign align = site.timeline.start_align -%}
    {%- for event in site.timeline.events -%}
          {%- if align == "right" -%}
            {%- if event.align and event.align == "left" -%}
              {%- assign align = "right" -%}
              <li>
            {%- else -%}
              {%- assign align = "left" %}
              <li class="timeline-inverted">
            {% endif %}
          {% else %}
            {%- if event.align and event.align == "right" -%}
              {%- assign align = "left" -%}
              <li class="timeline-inverted">
            {%- else -%}
              {%- assign align = "right" %}
              <li>
            {% endif %}
          {%- endif -%}
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt | default: ""}}">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{ event.year | markdownify }}</h4>
                <h4 class="subheading">{{ event.title }}</h4>
              </div>
              <div class="timeline-body">
                <div class="text-muted">{{ event.desc | markdownify }}</div>
              </div>
            </div>
          </li>
    {% endfor %}	
          
    {% if site.timeline.end %}	
    <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>{{ site.timeline.end }}</h4>
            </div>
          </li>
    {% endif %}

        </ul>
</div>
