#teaching {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;

  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

#teaching .user-details {
  text-align: left;
  margin: 5px auto;
}

#teaching .user-details ul {
  margin: 1em 0;
  padding-left: 40px;
  box-sizing: border-box;
}
