@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";

@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'about';
@import 'timeline';
@import 'software';
@import 'projects';
@import 'footer';
