<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      
      <!-- Bootstrap core JavaScript -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/bootstrap.bundle.min.js"></script>
  
      <!-- Plugin JavaScript -->
      <script src="assets/js/jquery.easing.min.js"></script>
  
      <section id="timeline">
        {% include timeline.html %}
      </section>
      <section id="software">
        {% include software.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
      <section id="publications">
        {% include publications.html %}
      </section>
      <section id="teaching">
        {% include teaching.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
